body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #90E0EF;
}

#mainImg {
 width: 571px;
 height: 227px;
}

#navImg {
width: 69px;
height: 49px;
}

.navbar {
    background-color: #48CAE4;
}

li {
    font-size: 18px;
}
